[Desktop Entry]
Name=Flickr

Comment=Matches Flickr queries

Icon=flickr

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_flickr
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=shaun.reich@blue-systems.com
X-KDE-PluginInfo-Name=flickr
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
