[Desktop Entry]
Name=Flickr
Name[cs]=Flickr
Name[et]=Flickr
Name[nl]=Flickr
Name[pt]=Flickr
Name[pt_BR]=Flickr
Name[sk]=Flickr
Name[uk]=Flickr
Name[x-test]=xxFlickrxx

Comment=Matches Flickr queries
Comment[et]=Sobivate Flickri päringute leidmine
Comment[nl]=Komt overeen met Flickr-queries
Comment[pt]=Corresponde às pesquisas do Flickr
Comment[pt_BR]=Corresponde às pesquisas do Flickr
Comment[sk]=Vyhovuje dotazom Flickr
Comment[uk]=Шукає відповідники у Flickr
Comment[x-test]=xxMatches Flickr queriesxx

Icon=flickr

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_flickr
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=shaun.reich@blue-systems.com
X-KDE-PluginInfo-Name=flickr
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
