[Desktop Entry]
Name=Flickr
Name[bs]=Flickr
Name[cs]=Flickr
Name[de]=Flickr
Name[es]=Flickr
Name[et]=Flickr
Name[fr]=Flickr
Name[ga]=Flickr
Name[gl]=Flickr
Name[hu]=Flickr
Name[nl]=Flickr
Name[pt]=Flickr
Name[pt_BR]=Flickr
Name[ro]=Flickr
Name[sk]=Flickr
Name[sv]=Flickr
Name[tr]=Flickr
Name[uk]=Flickr
Name[x-test]=xxFlickrxx

Comment=Matches Flickr queries
Comment[bs]=Odgovara na Flickr upite
Comment[de]=Entspricht Flickr-Abfragen
Comment[et]=Sobivate Flickri päringute leidmine
Comment[fr]=Correspond à la recherche de Flickr
Comment[ga]=Meaitseálann sé iarratais Flickr
Comment[gl]=Casa as buscas en Flickr
Comment[hu]=Illeszkedő Flickr lekérések
Comment[nl]=Komt overeen met Flickr-queries
Comment[pt]=Corresponde às pesquisas do Flickr
Comment[pt_BR]=Corresponde às pesquisas do Flickr
Comment[ro]=Potrivește interogări Flickr
Comment[sk]=Vyhovuje dotazom Flickr
Comment[sv]=Matchar sökningar på Flickr
Comment[tr]=Flickr sorgularını eşleştirir
Comment[uk]=Шукає відповідники у Flickr
Comment[x-test]=xxMatches Flickr queriesxx

Icon=flickr

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_flickr
X-KDE-PluginInfo-Author=Shaun M. Reich
X-KDE-PluginInfo-Email=shaun.reich@blue-systems.com
X-KDE-PluginInfo-Name=flickr
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
